:root {
 --color-pet:#154e08;
 --font-default: 30px;
 --link-color: #006840;
}

html {
    font-size: var(--font-default);
}

* {
    margin: 0;
}

.header {}

.container{}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4e5d0;
}

/* formatando o menu da pagina */
.menu {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
}

li.item {
    padding: 0 0 0 10px;
}

li.item > a {
    display: block;
    padding: 50px;
    text-decoration: none;
    color: var(--link-color);
    font-size: 0.89rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li.item > a:hover{
    background-color: rgb(206, 217, 226);
    color: #000;
    font-size: 35px;
}
