:root {
 --color-pet:#154e08;
 --font-default: 20px;
 --link-color: #636363;
}

html {
    font-size: var(--font-default);
    /* font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal; */
    font-family: sause;
}

* {
    margin: 0;
}

.header {
    background-color: #ddd5c4;
}

.container{
    padding: 0 100px 0 100px;
}

.logotipo a {
    font-size: 2rem;
    color: #936002;
    text-shadow: 2px 2px 2px #000, 2px 2px 5px #8a0000;
}

.logotipo a:hover {
    text-shadow: 2px 2px 2px #0013e9, 2px 2px 5px #04f300;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    /* box-shadow: 2px 2px 10px #000; */
}

/* formatando o menu da pagina */
.menu {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
}

li.item {
    padding: 0 0 0 10px;
}

li.item > a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: var(--link-color);
    font-size: 0.89rem;
}

li.item > a:hover{
    /* background-color: rgb(151, 151, 151); */
    color: #ffffff;
    border-bottom: 3px solid #000;
    text-shadow: 1px 1px 2px #000;
}

/* Formatação da secttion main */
.main {
    background-image: url(../assets/img/offer.jpg);
    background-size: cover;
    box-shadow: inset 0 1px 4px #b6b6b6;
}
.slogan-main {
    width: 50%;
    padding: 20px 0 40px 20px ;
}
.slogan-main > h1{
    padding-bottom: 10px;
    font-size: 0.9rem;
}
.slogan-main > p {
    font-weight: 100;
    font-size: 0.6rem;
    color: #636363;
    line-height: 15px;
}
.slogan-main > a {
    font-size: 0.5rem;
    color:#4151ac
}
.slogan-main > a:hover {
    text-decoration: underline;
}

/* Exemplo Entendendo position */
.div-principal {
    height: 500px;
    width: 50%;
    background-color: #04f300;
    position: relative;
}
.sub1 {
    width: 100%;
    height: 100%;
    background-color: #00000099;
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    /*bottom: 0;*/
    z-index: 2;
}
.sub1:hover{
    /* opacity: 0; */
    /* display: none; */
}
.sub2 {
    width: 150px;
    height: 150px;
    background-color: #e9003e;
    /* position: absolute;
    z-index: 1; */
    /* display: block; */
    visibility: hidden;
}


/* Formatação do modal de contatos*/
.tela-fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000e7, #0051a2cb, #000000);
    left: 0;
    top: 0;
}

.modal-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    width: 50%;
    box-shadow: 2px 2px 5px #000;
    border-radius: 2px;
}

.modal .top {
    background-color: #323340;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.modal > .top .fechar {
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.modal > .body {
    padding: 15px;
}